.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative; 
  background-color: rgba(10, 12, 169, 0.906);
  backdrop-filter: blur(10px);
}

.left-links,
.right-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-container {
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding: 0.5rem;
    align-items: center; 
  }

  .left-links,
  .right-links {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .logo-container {
    order: 2; 
  }
}
