.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(10px);
  position: relative; /* Added for centering purposes */
}

.left-links,
.right-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-container {
  position: absolute; /* Changed to absolute positioning */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding: 0.5rem;
    align-items: center; /* Center all items in the column layout */
  }

  .left-links,
  .right-links {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .logo-container {
    order: 2; /* Ensure the logo appears in the center on smaller screens */
  }
}
