/* hotellist.css */

.hotel-list-wrapper {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .hotel-list-title {
    margin: 0;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 300px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 10px;
  }
  
  .hotel-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* background-color: #ffffff; */
  }
  
  .hotel-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 0 0 auto;
    margin-right: 20px;
    transition: transform 0.2s;
  }
  
  .hotel-card:hover {
    transform: scale(1.05);
  }
  
  .hotel-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .hotel-card h3 {
    margin-top: 0;
    color: #333;
  }
  
  .amenities ul {
    padding-left: 20px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  